<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar - Integrantes </title>
    <link rel="stylesheet" href="/assets/css/crear.css">
</head>
<body>
    <h2>Integrante:  {{integrante.id}}. {{integrante.nombre}} - Editar </h1>
    <section> 
        <p>{{mensaje}}</p>
    </section>
    <section>
        <form action="/admin/integrantes/update/{{integrante.id}}" method="post">
        <fieldset>
            <legend>Integrantes</legend>

            <label for=""> ID </label>
            <input type="text" name="id" id="id" value="{{integrante.id}}" disabled >

            <label for="matricula">Matricula</label>
            <input id="matricula" name="matricula" type="text" value="{{integrante.matricula}}">

            <label for="nombre">Nombre</label>
            <input id="nombre" name="nombre" type="text" value="{{integrante.nombre}} ">

            <label for="apellido">Apellido</label>
            <input id="apellido" name="apellido" type="text" value="{{integrante.apellido}} ">

            <label for="url">Url Pagina</label>
            <input id="url" name="url" type="text" value="{{integrante.url}}" >

            <label for="activo_integrante">activo</label>
            <input type="radio" id="activo_integrante" name="activo" value="1">

            <label for="inactivo_integrante">inactivo</label>
            <input id="inactivo_integrante" name="activo" type ="radio" value="0"> <br>

            <label for="orden">Orden</label>
            <input id="orden" name="orden" type="text" value="{{integrante.orden}}" disabled>



            
        </fieldset>
        <input type="submit" value="Editar">
        </form>
    </section>
    <a href="/admin/Integrantes/listar">volver a integrantes</a>
</body>
</html>