<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar - Integrantes </title>
    <link rel="stylesheet" href="/assets/css/crear.css">
    <style></style>
</head>
<body>
    <h2>Media:  {{Media.id}}. {{Media.nombre}} - Editar </h1>
    <section>
        <form action="/admin/Media/update/{{Media.id}}" method="post">
        <fieldset>
            <legend>Integrantes</legend>

            <label for=""> ID </label>
            <input type="text" name="id" id="id" value="{{Media.id}}" disabled >

            <label for="titulo">Titulo</label>
            <input id="titulo" name="titulo" type="text" value="{{Media.titulo}}">

            <label for="nombre">Nombre</label>
            <input id="nombre" name="nombre" type="text" value="{{Media.nombre}}">

            <label for="url_video">Video Actual</label>
            <iframe width="120" height="90" src="{{Media.url_video}}" frameborder="0"></iframe>
            <input id="url_video" name="url_video" type="text" value="{{Media.url_video}}">

            <label for="url_imagen">Imagen Actual</label>
            <img width="120" height="90" src="{{Media.url_imagen}}" alt="Imagen actual">
            <input id="url_imagen" name="url_imagen" type="file" value="{{Media.url_imagen}}">  <br>

            <label for="matricula">Matricula</label>
            <input id="matricula" name="matricula" type="text" value="{{Media.matricula}}">

            <label for="id_tipo_media">Tipo Media:</label>
            <select id="id_tipo_media" name="id_tipo_media">
                <option value="Imagen">Imagen</option>
                <option value="Youtube">Youtube</option>
                <option value="Dibujo">Dibujo</option>
            </select>


            <label for="activo_Media">activo</label>
            <input type="radio" id="activo_Media" name="activo" value="1">

            <label for="inactivo_Media">inactivo</label>
            <input id="inactivo_Media" name="activo" type ="radio" value="0"> <br>

            <label for="orden">Orden</label>
            <input id="orden" name="orden" type="text" value="{{Media.orden}}" disabled>

            
        </fieldset>
        <input type="submit" value="Editar">
        </form>
    </section>
    <a href="/admin/Media/listar">volver a Media</a>
</body>
</html>