/* Estilo general para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

/* Estilo para el título */
h1, h2 {
    text-align: center;
    color: #333;
}

/* Estilo para la sección de la tabla */
section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Estilo para la tabla */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para las celdas de la cabecera */
th {
    background-color: #aa8caf;
    color: white;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

/* Estilo para las celdas */
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Estilo para las filas impares */
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Estilo para las filas al pasar el cursor */
tr:hover {
    background-color: #e9e9e9;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

/* Estilo para el título */
h1, h2 {
    text-align: center;
    color: #333;
}

/* Estilo para la sección de la tabla */
section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Estilo para la tabla */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para las celdas de la cabecera */
th {
    background-color: #aa8caf;
    color: white;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

/* Estilo para las celdas */
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Estilo para las filas impares */
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Estilo para las filas al pasar el cursor */
tr:hover {
    background-color: #e9e9e9;
}
a {
    display: inline-block; /* Ensure the element takes up space */
    margin-top: 10px;
    margin-right: 10px; /* Add some space to the right */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #aa8caf;
    color: white;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}

/* Archivo: /assets/css/styles.css */

.error-message {
    color: #D8000C; /* Color rojo para el texto */
    background-color: #FFBABA; /* Color de fondo claro */
    border: 1px solid #D8000C; /* Borde rojo */
    padding: 10px; /* Espaciado interno */
    margin: 20px 0; /* Margen superior e inferior */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
    text-align: center; /* Alineación centrada del texto */
}
